
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
body {
  height: 100vh;
  width: 100%;
  overflow: scroll;
  background-image: url("../img/reservation/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}
header {
  /* height: 80px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 20px;
  backdrop-filter: blur(15px);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header div.nom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  letter-spacing: 5px;
}
header nav,
header nav ul.menu1 li,
header nav ul.menu1 {
  position: sticky;
  display: flex;
  justify-content: end;
  align-items: center;
}
header nav {
  width: 50%;
  height: 100%;
}
header nav ul.menu1 {
  height: 100%;
  margin: 10px 0;
  width: 100%;
  gap: 20px;
  margin-right: 20px;
}
header nav ul.menu1 li a {
  /* background-color: red; */
  transition: .4s;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}
header nav ul.menu1 li a:hover{
  background:#79D2F6;
  box-shadow:
   0 0 5px #79D2F6,
   0 0 15px #5CA0BB,
   0 0 20px #2D93BB,
   0 0 25px #2D93BB,
   0 0 30px #2D93BB
   ;
}
.toggle {
    display: none;
}
.toggle label div {
    background-color: black;
  transform: rotate(90deg);
  height: 15px;
  width: 2px;

}
#check {
  display: none;
}
/* FIN DE LA PARTIE NAV  */
/* DEBUT DELA PARTIE SECTION */
.container{
  height: 100%;
}
.section{
  /* height: 100%; */
  display: flex;
  justify-content: center;
  padding-top: 5%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'v1 c1 c2 c3 v2'; */
}
.section .produit-container{
  /* background-color: red; */
  width: 80%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section .produit-container .produit{
  margin: 10px 0;
  display: flex;
  width: 100%;
  height: 300px;
  border: solid 1px grey;
  gap: 10px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.img-card{
  width: 30%;
  text-align: center;
  height: 100%;
}

.produit-container .produit .img-card .img{
  background-size: cover;
  background-position: center;
  height: 100%;
}
.produit-container .produit:nth-child(1) .img-card .img{ 
  background-image: url('../img/reservation/chambre-reservation.jpg');
}
.produit-container .produit:nth-child(2) .img-card .img{ 
  background-image: url('../img/reservation/salle-de-reunion-reservation.jpg');
}
.produit-container .produit:nth-child(3) .img-card .img{ 
  background-image: url('../img/reservation/salle-de-fete-reservation.jpg');
}
.section .produit-container .produit .details{
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
.section .produit-container a{
  position: absolute;
  padding: 10px;
  border: solid gold 1px;
  border-radius:10px;
  bottom: 5px;
  transition: .3s;
  right: 8px;
}
.section .produit-container a:hover{
  background-color: gold;
  transform: scale(1.1);
}

/* FIN DE LA PARTIE SECTION */
/* DEBUTE DE LA PARTIE FOOTER */
.footer{
  /* background-color: rgb(34, 34, 34); */
  /* backdrop-filter: blur(5px); */
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c757d;
}
.footer .footer-container{
  height: 100%;
  width: 100%;
}
.footer .footer-header{
  /* width: 100%; */
  height: 80%;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .footer-header .icons{
  display: flex;
  gap: 15%;
}
.footer .footer-header .icons * svg {
  fill: #5A913D;
}
.footer .footer-footer{
  height: 20%;
  background-color: #5A913D;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
/* FIN DE LA PARTIE FOOTER */
/* DEBUT DE LA PARTIE RESPONSIVE */

@media screen and (max-width: 992px) {
  header nav ul.menu1 {
    transition: 1s;
    display: none;
    z-index: 100;
    transform: translateX(150px);
    /* display: none; */
  }
  .toggle {
    display: block;
    margin: 50px;
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    /* background-color: red; */
  }
  #check:checked ~ ul.menu1 {
    display: block;
    /* top :80px; */
    /* transition-delay: 3s; */
    transform: translateY(0px);
  }
  .section{
    height: max-content;
  }
  .produit-container .produit{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* grid-template-columns: 100%; */
    /* background-color: red; */
    border-radius: 30px;
    gap:0px;
  }
  .produit-container .produit a{
    color: #262626;
    text-align: center;
    position: relative;
    bottom: 0;
    right: 0;
  }
  .produit-container .produit .img-card{
    position: absolute;
    z-index: -2;
    /* background-color: red; */
    width: 100%;
    height: 100%;
  }
  .produit-container .produit .details *{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    color: black;
    font-weight: 900; 
  }
  .produit-container .produit .details p{
    background: #c2c2c280;
    font-weight: bolder;
  }
}